.loader:before {
  display: inline-block;
  height: 100vh;
  vertical-align: middle;
  content: "";
}

.lds {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 64px;
  height: 64px;
  left: 50%;
  top:45%;
}
.lds div {
  display: inline-block;
  position: absolute;
  left: 6px;
  width: 13px;
  background: grey;
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}
.lds div:nth-child(1) {
  left: 6px;
  animation-delay: -0.24s;
}
.lds div:nth-child(2) {
  left: 26px;
  animation-delay: -0.12s;
}
.lds div:nth-child(3) {
  left: 45px;
  animation-delay: 0;
}
@keyframes lds-facebook {
  0% {
    top: 6px;
    height: 51px;
  }
  50%, 100% {
    top: 19px;
    height: 26px;
  }
}

.content{
  display: inline-block;
  width: 80%;
}

.sort{
  cursor: pointer;
}

.table{
  width: 95%;
  margin: 70px 0 0 28.5%;
  border-spacing: 5px 15px;
  border-collapse: separate;
}

th:first-child{
  border-radius: 10px 0 0 0;
  width:7%;
}

th:last-child{
  border-radius: 0 10px 0 0;
}

th:nth-child(n+4){
  width:10%;
}

th{
  font-family: 'Sunflower', sans-serif;
  padding: 3px;
  text-align: center;
  background-color: #6C91BB;
}

.headers th:nth-child(1){
  width:50px;
}

.headers th:nth-child(2){
  width:150px;
}

.poster{
  width:150px;
}

td:not(:nth-child(3)){
 text-align: center;
}

td:nth-child(3){
  padding: 0 10px 0 10px;
  max-width:60%;
  vertical-align: top;
  text-align: justify;
}

td img{
 max-width: 100%;
}

td h3{
  margin-top:0;
}

tr{
  margin-top:10px;
}

img{
  max-height:200px;
  border-radius: 5px;
}

.app{
  font-size: 24px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 801px;
}

h2,h3{
  text-align: center;
}

.overview{
  font-size: .6em;
}

.nothing{
  padding-left: 45%;
  padding-top:20%;
  
}